## CREATE DATASETS

In [2]:
import pandas as pd
import numpy as np
import datetime as datetime
import matplotlib.pyplot as plt
from pandas_datareader import data as pdr
import yfinance
import pandas_ta as ta
from package import euklid as eu
# import talib

In [7]:
stocks = ["IBM"]
start = datetime.datetime(2000,8,23)
end = datetime.datetime(2022,2,11)

yahoo_df = pdr.DataReader(stocks, 'yahoo',start,end)
yahoo_df = yahoo_df.droplevel(level = 1, axis = 1)
yahoo_df.tail()

Attributes,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2022-02-07,135.606552,137.240005,137.820007,136.270004,137.449997,3759000.0
2022-02-08,135.389175,137.020004,137.520004,135.779999,137.229996,4181800.0
2022-02-09,136.149994,137.789993,138.350006,136.830002,137.839996,5393500.0
2022-02-10,133.520004,133.520004,136.559998,133.169998,135.470001,5978600.0
2022-02-11,132.690002,132.690002,134.710007,132.380005,133.899994,4176200.0

In [80]:
#yahoo_df['Close'] = (yahoo_df['Close'].shift(1)-yahoo_df['Close'])
#yahoo_df['Adj Close'] = (yahoo_df['Adj Close'].shift(1)-yahoo_df['Adj Close'])
#yahoo_df['High'] = (yahoo_df['High'].shift(1)-yahoo_df['High'])
#yahoo_df['Low'] = (yahoo_df['Low'].shift(1)-yahoo_df['Low'])
#yahoo_df['Open'] = (yahoo_df['Open'].shift(1)-yahoo_df['Open'])
#yahoo_df['Volume'] = (yahoo_df['Volume'].shift(1)-yahoo_df['Volume'])

close = yahoo_df["Close"]

# Add indicators
yahoo_df['vwap'] = eu.vwap(yahoo_df['Close'], yahoo_df['Volume'])
yahoo_df['SO'] = eu.Stochastic_Oscillator(yahoo_df['Close'])
yahoo_df['RSI'] = eu.rsi(yahoo_df['Close'],14)
yahoo_df['KAMA'] = talib.KAMA(yahoo_df['Close'], timeperiod=30)
yahoo_df['T3'] = talib.T3(yahoo_df['Close'], timeperiod=5, vfactor=0)
yahoo_df['OBV']  = talib.OBV(yahoo_df['Close'], yahoo_df['Volume'])
yahoo_df['ATR'] = talib.ATR(yahoo_df['High'], yahoo_df['Low'], yahoo_df['Close'], timeperiod=14)
#yahoo_df['CDL2CROWS'] = talib.CDL2CROWS(yahoo_df['Open'], yahoo_df['High'], yahoo_df['Low'], yahoo_df['Close'])
#yahoo_df['CDLADVANCEBLOCK'] = talib.CDLADVANCEBLOCK(yahoo_df['Open'], yahoo_df['High'], yahoo_df['Low'], yahoo_df['Close'])
#yahoo_df['CDLDARKCLOUDCOVER'] = talib.CDLDARKCLOUDCOVER(yahoo_df['Open'], yahoo_df['High'], yahoo_df['Low'], yahoo_df['Close'], penetration=0)
#yahoo_df['CDLHARAMI'] = talib.CDLHARAMI(yahoo_df['Open'], yahoo_df['High'], yahoo_df['Low'], yahoo_df['Close'])

# Select valid data
eu.macd(yahoo_df,yahoo_df['Close'])
#----
yahoo_df = yahoo_df[35:]

In [82]:
yahoo_df.to_csv("ibm.csv")

In [5]:
# Save gold futures data
stocks = ["CL=F"]
start = datetime.datetime(2000,8,23)
end = datetime.datetime(2022,2,11)

yahoo_df = pdr.DataReader(stocks, 'yahoo',start,end)
yahoo_df = yahoo_df.droplevel(level = 1, axis = 1)
yahoo_df['SO'] = eu.Stochastic_Oscillator(yahoo_df['Close'])
yahoo_df['RSI'] = eu.rsi(yahoo_df['Close'],14)
yahoo_df.to_csv('oil.csv')

In [6]:
# Save WTI futures data
stocks = ["GC=F"]
start = datetime.datetime(2000,8,23)
end = datetime.datetime(2022,2,11)

yahoo_df = pdr.DataReader(stocks, 'yahoo',start,end)
yahoo_df = yahoo_df.droplevel(level = 1, axis = 1)
yahoo_df['SO'] = eu.Stochastic_Oscillator(yahoo_df['Close'])
yahoo_df['RSI'] = eu.rsi(yahoo_df['Close'],14)
yahoo_df.to_csv('gold.csv')